@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

:root {
  --main-font: "Source Serif 4";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Source serif 4";
}

p {
  margin: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

header .container {
  max-width: 1300px;
  margin: 0 auto;
}

nav div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.nav-box {
  border-bottom: 3px solid #eaeaee;
}

nav div h5 {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #222;
}

nav div a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #222;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 35px;
}

.donate {
  display: flex;
  align-items: center;
  gap: 7px;
}

.donate a {
  color: #7247ca;
}

.dropdown button {
  background-color: transparent;
  color: black;
  border: none;
}

/*                        menu mobile  start                  */

.nav-box .menu {
  display: none;
}

.menu-mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  transform: translateY(-100vh);
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.menu-mobile.active {
  transform: translateY(0);
}

.menu-mobile__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.menu-mobile__header .close {
  cursor: pointer;
}

.menu-mobile nav {
  height: calc(100vh - 172px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.menu-mobile nav a {
  text-decoration: none;
  color: black;
}
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 130px 0;
}

.menu-list li {
  margin: 10px 0;
}

.submenu {
  display: none;
  list-style: none;
  padding-left: 15px;
}

.dropdown:hover .submenu {
  display: block;
}

/*                            menu end                           */

.hero-page {
  margin-top: 50px;
}

.hero-page .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-page-img {
  width: 250px;
}

.hero-page h1 {
  margin: 40px 0 16px 0;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #222;
}

.hero-page p {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.54px;
  text-align: left;
  color: #979797;
}

.hero-page-music {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  gap: 10px;
}

.hero-page-music img {
  cursor: pointer;
}

.hero-page-music .track-bar {
  cursor: pointer;
  width: 400px;
  height: 5px;
  background: #eaeaee;
  margin: 0 10px;
  position: relative;
  border-radius: 5px;
  gap: 10px;
}

.hero-page-music .track-bar .bar {
  width: 35%;
  height: 5px;
  background: #7247ca;
  position: absolute;
  border-radius: 5px;
}

.hero-page-apps {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 35px;
  gap: 10px;
}

.hero-page-apps p {
  font-size: 12px;
  font-weight: 600;
  line-height: 15.04px;
  letter-spacing: 0.16em;
  text-align: left;
  color: #222;
}

.hero-page-apps .apps {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.hero-page-apps img {
  cursor: pointer;
  margin-bottom: 40px;
}

.text {
  padding: 50px 40px;
}
.text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #555555;
}

.text h3 {
  margin: 39px 0 24px 0;
  font-size: 21px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  color: #222;
}

.text-content {
  margin: 48px 0;
  padding: 24px 0 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #eaeaee;
}

.text-content h4 {
  font-size: 21px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  color: #222;
}
.text-content .arrow {
  margin-left: 10px;
  cursor: pointer;
}
.text-content2 {
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #eaeaee;
  padding-bottom: 24px;
}
.text-content2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #555555;
}

.text-content3 {
  margin-top: 40px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid #eaeaee;
  padding-bottom: 40px;
}
.text-content3 img {
  cursor: pointer;
}
.social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.text-content3 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #555555;
}

.posts {
  padding: 50px 40px;
}
.posts .posts-cards:nth-child(3) {
  padding-bottom: 48px;
  border-bottom: 1px solid #eaeaee;
}
.posts h4 {
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #222;
  margin-bottom: 17px;
}
.posts-cards {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.posts-cards .posts-card-text h5 {
  font-size: 21px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  margin-bottom: 16px;
}
.posts-cards .posts-card-text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.54px;
  text-align: left;
  color: #979797;
  margin-bottom: 40px;
}
.posts-card-text button {
  font-size: 12px;
  font-weight: 600;
  line-height: 15.04px;
  text-align: left;
  color: #7247ca;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 16px;
}
.posts-card-text button:focus {
  outline: none;
}
.posts-card-text button:hover {
  border: none;
}

.reply {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 50px 40px;
}
.reply h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #222222;
}
.reply p {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.54px;
  text-align: left;
  color: #979797;
  margin-bottom: 20px;
}
.inputs {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: 1px solid #eaeaee;
  padding-bottom: 60px;
}
.inputs input,
.inputs textarea {
  width: 100%;
  border: 1px solid #eaeaee;
  background-color: #f5f5f7;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  transition: border-color 0.3s;
}
.inputs textarea {
  resize: none;
  height: 150px;
}
.inputs input:focus,
.inputs textarea:focus {
  border-color: #4a90e2;
  outline: none;
}

.inputs label {
  display: block;
  margin-top: 10px;
  cursor: pointer;
}

.inputs input,
.inputs textarea {
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkbox label {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.54px;
  text-align: left;
  color: #979797;
  align-items: center;
  margin-bottom: 25px;
  cursor: pointer;
}

.checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  outline: none;
}

.inputs button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.54px;
  text-align: left;
  color: #ffffff;
  background-color: #7247ca;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  outline: none;
}

.comments {
  padding: 50px 40px;
}
.comments h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #222222;
  margin-bottom: 35px;
}
.comments-cards {
  border-bottom: 1px solid #eaeaee;
}
.comments-card {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 40px;
}
.comments-card p {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.54px;
  text-align: left;
  color: #979797;
}
.comments-card-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comments-card-text-top {
  display: flex;
  align-items: center;
  gap: 16px;
}
.comments-card-text-top h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.54px;
  text-align: left;
  color: #555555;
  margin: none;
}
.comments-card-text-top p {
  margin-bottom: 8px;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.54px;
  text-align: left;
  color: #979797;
}

.comments-card-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #979797;
}

.comments-card-text-reply {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 40px;
  line-height: 17.54px;
  text-align: left;
  color: #7247ca;
  border: none;
  background: none;
  margin-top: 16px;
}

.comments-card-text-reply img {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.ikki {
  margin-left: 75px;
}

.comments-cards_uch {
  margin-top: 50px;
}

.footer .container {
  border-top: 1px solid #eaeaee;
  padding: 64px 40px 10px 40px;
}
.footer-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-links {
  width: 500px;
  display: flex;
  align-items: self-start;
  justify-content: left;
  flex-direction: column;
  gap: 12px;
}

.footer-links a {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.54px;
  text-align: left;
  color: #555555;
  list-style: none;
  text-decoration: none;
}
.footer-links a:hover {
  color: #7247ca;
}
.footer-email {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 12px;
}
.footer-email h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20.05px;
  letter-spacing: 0.16em;
  text-align: left;

  color: #222222;
}
.footer-email p {
  font-size: 12px;
  font-weight: 400;
  line-height: 15.04px;
  text-align: left;
  color: #555555;
}

.email-input-container {
  width: 350px;
  position: relative;
}

.email-input-container input[type="email"] {
  width: 100%;
  padding: 10px 50px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.email-input-container button {
  position: absolute;
  height: 88%;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 15px;
  background-color: #7247ca;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.email-input-container button img {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
}

.email-input-container input:focus {
  outline: 1px solid #5b7bff;
}
.email-input-container button:focus {
  outline: none;
}
.email-input-container button:hover {
  background-color: #5a35a3;
  outline: none;
}
.footer-apps {
  margin-top: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
.footer-apps h5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.54px;
  text-align: left;
  color: #222222;
}
.footer-apps .apps {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.footer-apps img {
  cursor: pointer;
}

.footer-apps img:hover {
  transform: scale(1.1);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #559defa5;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 180px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

#myBtn:hover {
  background-color: #559def;
}
#myBtn img {
  width: 10px;
  height: 10px;
}

@media (max-width: 500px) {
  header {
    padding: 10px 30px;
  }

  header .menu-mobile {
    display: block;
  }

  .nav-box .menu {
    display: inline-block;
  }

  .nav-links {
    display: none;
  }
  .hero-page {
    margin-top: 50px;
    height: auto;
  }

  .hero-page .hero-page-img {
    width: 300px;
  }
  .hero-page-music .track-bar {
    width: 200px;
  }
}
